


  .timeline-with-icons {
    border-left: 6px solid hsl(139, 26%, 56%);
    position: relative;
    list-style: none;
  }
  
  .timeline-with-icons .timeline-item {
    position: relative;
  }
  
  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -50px;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-not-yet {
    background-color: hsl(217, 88.2%, 90%);
  }
  
  .icon-success {
    background-color: rgb(124, 196, 124); 
  }